$cor-dorada: rgba(255, 215, 0);

.detalhe-page {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.detalhe-container {
    width: 100%;
    max-width: 1000px;
    background: rgba(20, 20, 20, 0.85);
    border: 1px solid rgba($cor-dorada, 0.3);
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9);
}

.btn-voltar {
    display: inline-block;
    color: $cor-dorada;
    text-decoration: none;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
    transition: color 0.3s ease;

    &:hover {
        transform: translateX(-5px);
        text-shadow: 0px 0px 8px rgba($cor-dorada, 0.5);
    }
}

.conteudo-principal {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 50px;
    align-items: center;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.imagem-destaque {
    background-color: #000;
    border-radius: 50%;
    border: 4px solid $cor-dorada;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 30px rgba($cor-dorada, 0.2);

    img {
        width: 100% ;      
        max-width: 300px;
        object-fit: contain;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.texto-destaque {
    h1 {
        font-family: 'IM Fell DW Pica SC', sans-serif;
        font-size: 40px;
        color: $cor-dorada;
        margin-bottom: 10px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    }

    .linha-divisoria {
        height: 2px;
        width: 80px;
        background-color: $cor-dorada;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        color: #ffffff !important;
        font-size: 18px;
        line-height: 1.8;
        text-align: justify;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }
}

.erro-container {
    text-align: center;
    color: white;

    h1 {
        color: red;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 30px;
        font-size: 18px;
    }
}

