<div class="detalhe-page">

    @if (carregando) {
      <div class="carregando-container">
        <h2>Acessando o Enigma do Milênio...</h2>
      </div>
    } 
    
    @else if (personagemAtual) {
      <div class="detalhe-container">

        <a routerLink="/personagens" class="btn-voltar">&#10094; Voltar para a lista de Duelista</a>

        <div class="conteudo-principal">

            <div class="imagem-destaque">
                <img [src]="personagemAtual.imagemUrl" [alt]="personagemAtual.nome">
            </div>

            <div class="texto-destaque">
                <h1>{{ personagemAtual.nome }}</h1>
                <div class="linha-divisoria"></div>

                <div class="status-duelista">
                    <span class="label">Carta Principal:</span>
                    <span class="valor">{{ personagemAtual.monstroPrincipal}}</span>
                </div>

                <p>{{ personagemAtual.descricaoCurta }}</p>

                <div class="biografia">
                  <h3>História</h3>
                  <p>{{ personagemAtual.historia }}</p>
                </div>

                @if (personagemAtual.cartas && personagemAtual.cartas.length > 0) {
                  <div class="deck-secao">
                    <h3>Deck Principal</h3>
                    <div class="deck-grid">
                      @for (carta of personagemAtual.cartas; track carta.nome) {
                        <div class="carta-miniatura" (click)="abrirCarta(carta)">
                          <img [src]="carta.imagem" [alt]="carta.nome">
                        </div>
                      }
                    </div>
                  </div>
                } 
                
                @if (cartaSelecionada) {
                  <div class="modal-overlay" (click)="fecharCarta()">
                    <div class="modal-conteudo" (click)="$event.stopPropagation()">
                      <button class="btn-fechar" (click)="fecharCarta()">X</button>
                      <img [src]="cartaSelecionada.imagem" [alt]="cartaSelecionada.nome" class="carta-ampliada">
                    </div>
                  </div>
                }
            </div>
        </div>

      </div>  
    } 
    
    @else {
      <div class="erro-container">
        <h1>Duelista não encontrado!</h1>
        <p>Este personagem pode ter sido banido para o Reino das Trevas...</p>
        <a routerLink="/personagens" class="btn-voltar">&#10094; Retornar em segurança</a>
      </div>
    }

</div>