<header>
    <nav class="navbar">
        <div class="logo">
            <a routerLink="/home">Yu-Gi-Oh Wiki</a>
        </div>
        <ul class="nav-links">
            <li>
                <a routerLink="/home" routerLinkActive="active-link">Inicio</a>
            </li>
            <li>
                <a routerLink="/personagens" routerLinkActive="active-link">Personagens</a>
            </li>
            <li>
                <a routerLink="/reliquias" routerLinkActive="active-link">Relíquias</a>
            </li>
        </ul>
    </nav>
</header>