<section class="hero-section">
    <div class="hero-content">
        <h1 class="titulo-destaque">Bem-vindo à Yu-Gi-Oh!</h1>
        <p class="subtitulo">Explore os mistérios do Enigma do Milênio, conheça duelistas lendários e descubra o poder do Reino das Trevas.</p>
        <a routerLink="/personagens" class="btn-primario">Explorar Personagens</a>
    </div>
</section>

<main class = "conteudo-principal">
    <section class="intro-texto">
        <h2>O Início da Lenda</h2>
        <p>
            Tudo começa quando Yugi Muto resolve um antigo quebra-cabeça egípcio chamado Puzzle do Milênio. Ao resolver o artefato, ele desperta o espírito do Faraó Atem, um duelista ancestral que passa a protegê-lo nos perigosos Duelos de Monstros.
        </p>
    </section>

    <div class ="carrossel-container">
        <div class="carrossel-trilho" [style.transform]="'translateX(-' + (indiceAtual * 100) + '%)'">
            <div class="carrossel-item"><img src="/assets/img/carrossel/fusoes-yu-gi-oh-forbidden-memories-1-1024x576.webp" alt="Yu-gi-Oh Forbidden"/></div>
            <div class="carrossel-item"><img src="/assets/img/carrossel/yugioh-1024x576 (1).jpg" alt="Yu-gi-Oh"/></div>
             <div class="carrossel-item"><img src="/assets/img/carrossel/passwords-de-yu-gi-oh-forbidden-memories-01-1024x576.webp" alt="Yu-gi-Oh Forbidden"/></div>
        </div>
        <button class="carrossel-botao prev" (click)="slideAnterior()">&#10094;</button>
        <button class="carrossel-botao next" (click)="proximoSlide()">&#10095;</button>
    </div>

    <section class="cards-acesso">
        <div class="card" routerLink="/personagens">
            <h3>Duelistas</h3>
            <p>Conhecça Yugi, Kaiba e Joey e os maiores nomes do jogo de monstros de duelo.</p>
        </div>
    </section>
</main>